tqdm==4.67.1
torch==2.7.0
opencv-python==4.11.0.86
ffmpegcv==0.2.4
numpy==2.2.6
python_speech_features==0.4
scipy==1.15.3
scenedetect==0.6.6
scikit-learn==1.6.1
gdown==5.2.0
torchvision==0.22.0
pandas==2.2.3
transformers==4.52.1
accelerate==1.7.0
datasets==3.6.0
google-genai==1.18.0
pysubs2==1.8.0
boto3==1.38.27
fastapi[standard]==0.115.12
whisperx==3.3.4